Input1	Input2	Input3	Input4	Output1	Output2	Output3	Output4	Output5	Output6
C:/mosaic_project/ref/river6m_new2.img	C:/mosaic_project/ref/tai_bor_new2.img	C:/mosaic_project/ref/sp2017xs_12m.img	C:/mosaic_project/raw/a0000001/a0000001.raw	""	""	""	""	""	""
C:/mosaic_project/ref/river6m_new2.img	C:/mosaic_project/ref/tai_bor_new2.img	C:/mosaic_project/ref/sp2017xs_12m.img	C:/mosaic_project/raw/a0000002/a0000002.raw	""	""	""	""	""	""
